<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Summarize.it | Home</title>
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/templatemo-style.css') }}">
    <!-- Templatemo style -->
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="text-center tm-site-header">
                    <div class="tm-site-logo"></div>
                    <h1 class="pl-4 tm-site-title">Summarize.it</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="/summarize" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea id="contact_message" name="input_text" class="form-control" rows="10"
                                    placeholder="Your Text here..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn tm-btn-send centered">Summarize It</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-flex-start p-5">
            <p class="fs-1">{{ summary }}</p>
        </div>
    </div>

    <div>
        <!-- Footer -->
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                    <span class="tm-current-year">2021</span> Summarize.it
                </p>
            </div>
        </footer>
    </div>
    <!-- .container -->

    <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="{{ url_for('static', path='js/templatemo-script.js') }}"></script>

</body>

</html>